*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@keyframes Scale{
    0% {
        transform: scale(0.0);
    }
    20% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(0.4);
    }
    60% {
        transform: scale(0.6);
    }
    80% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

ul{
    list-style: none;
}

a {
    color:white;
    text-shadow: 3px 2px 5px white; 
    text-decoration: none;
    background-color: transparent;
}

h1{
    font-size: 2.7rem;
}

p{
    font-size: 1.1rem;
}

body{
    position: relative;
}

main {
    position: relative;
}

.logo img, .footer-logo img{
    width:100%;
}

/* klasy wielokrotnego użytku */

.row{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem 0rem 1rem;
}

.blue-btn {
    width: 9rem;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    border-radius: 15px;
    color:white;
    background-color: rgb(58, 51, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}

.blue-btn:hover{
    color:rgb(58, 51, 255);
    background: white;
}

.grey-bg{
    width: 100%;
    height: 10rem;
    background: rgb(240,240,240)
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: end;
    background:white;
    width: 180px;
    height: 270px;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 15px;
}

/* header */

header{
    min-height: 80vh;
    background: linear-gradient(
        37deg,
        rgba(0, 8, 31, 0.637) 18%,
        rgba(94, 2, 4, 0.466) 84%
      ), url("../images/background.jpg") center top no-repeat fixed;
    background-blend-mode: normal;
    background-size: cover;
}

header .wrapper {
    max-width: 95%;
}

header .row:first-child{
    justify-content: space-between;
    padding-top: 1rem;
}

header .row:nth-child(2){
    justify-content: start;
}

header .logo {
    max-width: 200px;
    max-height: 90px;
}

.nav ul{
    display:flex;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav li{
    padding: 1.5em;
    position: relative;
    cursor: pointer;
}

.nav li::before{
    content: '';
    background: white;
    width:100%;
    height:2px;
    position: absolute;
    top:52px;
    left:0px;
    transform: scaleX(0);
    opacity: 0.4;
    transition: transform ease 0.6s, opacity ease 0.6s;
}

.nav li:hover::before{
    transform: scaleX(0.7);
    opacity: 0.9;
}

.username{
    display:flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 10px;
}

.username-span{
    font-size: 1.4rem;
}

.login-btn{
    font-size: 1.2rem;
    color:white;
    text-shadow: 3px 2px 5px white;
    background: transparent;
    border: none;
    cursor:pointer;
    transition: color 0.5s ease;
}

.login-btn:hover{
    color:rgb(210,210,210);
}

.login-btn span{
    margin-right: 6px;
}

.logoutBtn{
    margin-left: 20px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color:white;
    text-shadow: 3px 2px 5px white;
    cursor: pointer;
}

.start-box {
    width: 25rem;
    height: 15rem;
    margin-top: 10rem;
}

.start-box h1{
    color: white;
}

.start-box p {
    color: lightgrey;
}

.blue-btn a{
    text-shadow: none;
}

/* main */
main{
    background: rgb(240,240,240);
}

/* sekcja 1 */

#about{
    min-height: 20vh;
}

.services-info {
    position:relative;
    top: -120px;
}

#about .card h3{
    margin-bottom: 15px;
    text-align: center;
}

#about .card:nth-child(1) h3{
    margin-bottom: 32px;
}

#about .card:nth-child(2) h3{
    margin-bottom: 35px;
}

#about .card p {
    font-size: 0.9rem;
}

.card-img-container{
    width: 100%;
    height: 53%;
    border-radius: 15px;
}

.fa-plane, .fa-headset, .fa-rotate-left, .fa-tags{
    font-size: 5rem;
    margin: 0.7rem 1rem 1rem 2rem;
}

.fa-plane{
    transform:rotateZ(-45deg);
}

/* sekcja 2 */

#about-2{
    background: rgba(58, 51, 255,0.5);
    padding-top: 3rem;
    min-height: 50vh;
}

.about-img-container{
    display: flex;
    margin-right: 2rem;
    margin-top: 2rem;
    flex-basis: 25%;
    min-height:100%;
    background-image: url("../images/img-about.jpg");
    border-top-right-radius: 15px;
}

.about-text{
    padding-top: 2rem;
    flex-basis: 70%;
    font-size: 1.2rem;
}

.about-text h1{
    font-size: 4rem;
    margin-bottom: 4rem;
}

.about-text .blue-btn {
    width: 10rem;
    margin-top: 3rem;
    margin-left: 20%;
}

/* sekcja 3 */

#products {
    background: rgba(58, 51, 255,0.5);
}

#products h1{
    text-align: center;
}

#products .row {
    justify-content: start;
}

#products .row:last-child{
    justify-content: center;
    margin-top: 2rem;
}

#products .row h1 {
    font-size: 1.6rem;
    margin-top: 3rem;
}

.product-card{
    width: 450px;
    height: 500px;
}

.product-container{
    display:flex;
    justify-content: center;
    width:100%;
    height:40%;
}

.product-container img{
    width: 150px;
}

.product-name{
    margin-top: 10px;
}

.product-name span{
    font-weight: 800;
    font-size: 1.3rem;
}

.product-price{
    text-align:right;
    margin-bottom: 10px;
}

.product-price span{
    font-size: 1.3rem;
    font-weight: 600;
    color:rgb(35, 102, 202);
}

.product-desc{
    font-size: 16px;
}

#products .product-card .row{
    justify-content: space-between;
    margin-bottom: 1rem;
}

#products .product-card .blue-btn{
    margin: 1rem auto 0 auto;
}

#products .product-card .blue-btn:hover{
    border: 2px solid rgb(58, 51, 255);
}

#products .blue-btn{
    margin-bottom: 1rem;
}

/* sekcja 4 */

#team{
    background:rgba(58, 51, 255,0.5);
    min-height: 65vh;
}

#team .wrapper {
    max-width: 1800px;
}

#team .row:nth-child(1) {
    max-width:900px;
    margin: 0 auto 0 auto;
}

.team-card{
    width: 400px;
    height: 350px;
    padding: 0 0 16px 0;
}

.team-img-container{
    height:225px;
    width:100%;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.team-img-container img{
    width:100%;
}

.team-card:nth-child(2) img{
    transform: translateY(-50px);
}

.team-card:nth-child(4) img{
    transform: translateY(-150px);
}

.team-desc{
    margin-top: 1.5rem;
}

.team-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.team-position{
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

.team-name, .team-position{
    text-align: center;
}

#team .row:nth-child(2){
    margin-top: 2rem;
}

.social-element{
    position: relative;
    width:48px;
    height:48px;
    margin:1rem 1rem 0 0 ;
    border-radius: 50%;
    border:3px solid rgba(58, 51, 255,0.8);
    cursor: pointer;
    transition: transform 0.6s ease-out;
}

.social-element a{
    position:absolute;
    color: rgba(58, 51, 255,0.8);
    font-size: 1.8rem;
    top: 5px;
    left:9px;
}

.social-element:nth-child(1) a{
    left:12px;
}

.social-element:hover{
    transform: scale(1.2);
}

/* sekcja 5 */

#newsletter{
    min-height: 30vh;
}

#newsletter h1{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.news-input{
    margin-top: 5rem;
    width: 500px;
    height: 50px;
    font-size: 1.4rem;
    outline:none;
}

.submit-input{
    position: relative;
    height: 50px;
    top: 0px;
    left: -4px;
    background:rgb(58, 51, 255);
    color:white;
    border: none;
    outline: none;
    width: 130px;
    font-size: 1.4rem;
    cursor:pointer;
}

.submit-input:hover{
    background: rgb(36, 30, 221);
}

.msg-box{
    padding-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    width: 400px;
}

.valid-mail{
    color: green;
}

.invalid-mail{
    color: red;
}

/* footer */

footer {
    background: rgba(58, 51, 255,0.9);
    color:white;
    min-height: 30vh;
}

footer .wrapper{
    display:flex;
    max-width:100%;
    padding: 2rem 5rem 1rem 5rem;
}

footer .row{
    justify-content: start;
}

.footer-logo{
    width: 220px;
    height: 96px;
    margin-bottom: 1rem;
}

.footer-social-container{
    margin-top: 1rem;
}

.footer-social-element{
    background: white;
    border:none;
}

.footer-social-element a{
    color: black;
}

.footer-social-element:first-child a{
    left: 15px;
}

.footer-social-element:last-child a{
    left:12px;
}

.col-1{
    flex-basis: 25%;
}

.col-1 p{
    font-size: 1.3rem;
}

.col-2{
    flex-basis: 25%;
    text-align: center;
}

.col-2 h2{
    font-style: italic;
}

.col-2 ul{
    padding:0;
    margin-top: 10px;
    font-size: 1.4rem;
}

.col-2 ul li{
    padding-top: 13px;
}

.copyright {
    margin-top: 2rem;
    text-align: center;
}

/* cart button */

.cart-button{
    position: sticky;
    display:inline-block;
    bottom: 80px;
    left: 91%;
    font-size: 3.5rem;
    padding: 1.5rem;
    margin-bottom: 80px;
    margin-right: 4%;
    color: darkorange;
    text-shadow: 3px 2px 5px black;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.29);
    border: 3px solid darkorange;
    border-radius: 50%;
    cursor:pointer;
}

.productsQuantity{
    display:none;
    position: absolute;
    top: 13px;
    left: 60px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(218, 218, 8);
    font-size: 1.4rem;
    font-weight: 700;
    text-shadow: none;
    text-align:center;
    padding-top: 4px;
    color:black;
}

/* login popup */


#popup{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

#popup.popup-visible{
    display: block;
}


.login-popup{
    position: relative;
    top: 30%;
    left: 37%;
    width:800px;
    height:450px;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    animation: Scale 0.4s ease-out;
}

.login-popup h1{
    margin-top: 1rem;
    color: rgb(45, 38, 255);
    text-align:center;
}


.btn-popup{
    position: absolute;
    font-size: 1.6rem;
    top:1rem;
    right:1rem;
    background: transparent;
    border:none;
    cursor: pointer;
}

.form-popup{
    margin: 0rem 3rem 0rem 7rem;
    padding: 1rem;
    width: 450px;
    height:300px;
}

.input-popup{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    font-size: 1.4rem;
    height: 40px;
    width: 550px;
    border:none;
    outline:none;
    border-radius: 10px;
    background:rgba(35, 102, 202,0.1)
}

.label-popup{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(58,51,255);
}

.msg-login{
    padding-left: 6rem;
    font-size: 1.2rem;
    text-align: center;
    color:red;
}

.submit-popup{
    width:150px;
    height: 50px;
    font-size: 1.3rem;
    color:white;
    border: none;
    outline: none;
    background: rgb(45, 38, 255);
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 190px;
    cursor:pointer;
    transition: all 0.5s ease;
}

.submit-popup:hover{
    background:white;
    color:rgb(45, 38, 255);
    border: 2px solid rgb(45, 38, 255);
}
